
<div class="row mt-4">
    <div class="col-3 m-2">
        <div class="card" style="width: 18rem; height: 24rem">
            <img src="../../../assets/imagenes/particion_equivalencia_caratula.jfif" class="card-img-top" alt="Partición de equivalencia card">
            <div class="card-body">
              <h3 class="card-title">Partición de equivalencia</h3>
              <p class="card-text">La división en particiones de equivalencia, también llamadas clases de equivalencia, es una técnica de pruebas de caja negra en la que las entradas del programa se ...</p>
              <a (click)="redirigirTecnica('part_equiv')" class="btn btn-primary">Ver Tecnica</a>
            </div>
        </div>
    </div>
    <div class="col-3 m-2">
        <div class="card" style="width: 18rem; height: 24rem">
          <img src="../../../assets/imagenes/valores_limites_caratula.jfif" class="card-img-top" alt="Análisis de valores límites card">
            <div class="card-body">
              <h3 class="card-title">Análisis de valores límites</h3>
              <p class="card-text">La técnica de análisis de los valores límite se basa en el hecho heurístico de que los errores tienden a producirse con más probabilidad en los valores extremos de los posibles ...</p>
              <a (click)="redirigirTecnica('analisis_val_lim')" class="btn btn-primary">Ver Tecnica</a>
            </div>
        </div>
    </div>
    <div class="col-3 m-2">
        <div class="card" style="width: 18rem; height: 24rem">
          <img src="../../../assets/imagenes/transicion_estado_caratula.jfif" class="card-img-top" alt="Transición de estados card">
            <div class="card-body">
              <h3 class="card-title">Transición de estados</h3>
              <p class="card-text">La técnica de transición de estados es una técnica de prueba dinámica, que se utiliza cuando el sistema se define en términos de un número finito de ...</p>
              <a (click)="redirigirTecnica('trans_est')" class="btn btn-primary">Ver Tecnica</a>
            </div>
        </div>
    </div>
    <div class="col-3 m-2">
        <div class="card" style="width: 18rem; height: 24rem">
          <img src="../../../assets/imagenes/tabla_decisiones_caratula.jfif" class="card-img-top" alt="Tabla de decisión card">
            <div class="card-body">
              <h3 class="card-title">Tabla de decisión</h3>
              <p class="card-text">La tabla de decisión es una herramienta que sintetiza procesos en los
                cuales se dan un conjunto de condiciones y un conjunto de ...</p>
              <a (click)="redirigirTecnica('tabla_dec')" class="btn btn-primary">Ver Tecnica</a>
            </div>
        </div>
    </div>
    <!--<div class="col-3 m-2">
        <div class="card" style="width: 18rem; height: 24rem">
            <div class="card-body">
              <h3 class="card-title">Casos de uso</h3>
              <p class="card-text"> Pruebas de caso de uso es la técnica de diseño de prueba de caja negra en la que los casos de prueba están diseñados para ...</p>
              <a (click)="redirigirTecnica('casos_uso')" class="btn btn-primary">Ver Tecnica</a>
            </div>
        </div>
    </div>-->
</div>

